#intro {
    color: #ffffff;
    padding: 8rem 4rem 6rem 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    cursor: default;
    text-align: center;
    z-index: 1;
    min-height: 100vh;
  }
  